body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
.topnav {
    overflow: hidden;
    background-color:black;
}
  
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #3D85C6;
    color: white;
}

.topnav a:active {
    background-color: black;
    color: white;
}

.search{
    background-color: #7e5e60;
    text-align: center; 
    font-family: "Times New Roman", Times, serif;

    width: 500px;
	height: 330px;
	
	position: relative;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

input[type=button]{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input[type=button]:focus {
    border-color:#333;
}
input[type=button]:hover {
    background-color: white;
    color: black;
}