<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/signin.css">
        <script type="text/javascript" src="/static/scripts/signin.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <Title>Sign In</Title>
    </head>
    <body>
        <div class="signForm">
            <h2>Sign In</h2><br><br>
            <form method="POST">
                <input type="password" id="pass" name="pass" placeholder="Enter the password" size="30"/><br><br><br>
                <input type="button", id="signin", value="Sign In" onclick="validation()" />
            </form><br>
        </div>
    </body>
</html>